:root {
  font: 2em / 1 sans-serif;
  --light-gray: rgb(192, 192, 192);
  --gray: 5px solid rgb(123, 123, 123);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(62, 90, 122);
}

td {
  padding: 1rem;
  background-color: var(--light-gray);
  border: var(--gray);
  text-align: center;
  height: 1rem;
  width: 1rem;
}

.table {
  display: flex;
  justify-content: center;
}

.reset-button {
  list-style: none;
  width: 4em;
}

.page-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.849);
}
