:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

td {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(192, 192, 192);
  border: 5px solid rgb(123, 123, 123);
  text-align: center;
  height: 3rem;
  width: 3rem;
}

h1 {
  text-align: center;
}
